<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../src/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="GImage Test">
      <directory>../test/spec/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>../</directory>
    </whitelist>
  </filter>
</phpunit>
