nbproject/
vendor/
examples/*.jpg
examples/*.png
examples/*.gif
tmp/
.tmp/
composer.phar
composer-test.lock
build/artifacts/
artifacts/
docs/_build
docs/*.pyc
*.log
.idea
.DS_STORE
.DS_Store
docs
_site
Gemfile.lock
